@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Climate+Crisis&family=Holtwood+One+SC&family=Michroma&family=Syncopate&display=swap');

body{
    
    margin: 0%;
}
    

 .nav1 a{

  color: whitesmoke; 
  font-family: 'Michroma', sans-serif;
  font-size: small; 
}

.nav1 a:hover{

    color:red ;
}

@media(max-width:600px) {

    .caro1 h1 {
        font-size: small;
    }

    .caro1 p {
        font-size: small;
    }
}

.ca1{
    display: flex ;
     justify-content: space-evenly;
      color: rgb(196, 209, 209);
      font-family: 'Audiowide', cursive;
}

.car1{

    transition: 1s ease-in;
}

.carimg:hover{
    
    transform: scale(1.1) ;
    
}
.ca1 button{

    background-color: black;
    color: rgb(196, 209, 209); ;
    border-color: rgb(255, 255, 0);

   
}

.ca1 button:hover{

    
    color: blue;
}

.imgcaro{
    height: 750px;
}

.caro1 button{
    color: white; 
    border-color: white ;
    font-size: large;
    margin-top: 10px;
}

.footer{
    height: 400px;

    display: flex;
    justify-content: space-evenly;
    
}

.footer h6{
    font-family: 'Michroma', sans-serif;
    color: whitesmoke;
    font-size: small;
}

.footer a:link{
    color: whitesmoke;
    text-decoration: none;
}

.footer a:visited{
    color: whitesmoke;
    text-decoration: none;

}

.footer a:hover{
    color: rgb(220, 32, 32);
    text-decoration: none;
}

.footer a:active{
    color: whitesmoke;
    text-decoration: none;
}

.footer i:hover{
    color: red;
}


.service a:link{
    text-decoration: none;
    color: grey;
}

.service a:visited{
    text-decoration: none;
    color: grey;
}

.service a:hover{
    text-decoration: none;
    color: orangered;


}

.service a:active{
    text-decoration: none;
    color: grey;

}

.tag{
    font-family: 'Climate Crisis', cursive;
    color: aliceblue;
}

.animh{
    animation: anim 1s ease-in 1s infinite;
}

@keyframes anim{

    0%{
        color: white;
    }
    50%{
        color: rgb(216, 216, 35);
    }
    100%{
        color: white;
    }
}

